body{
    height: 100vh;
    justify-content: center;
    background-color: black;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    height: 40vh;
    width: 60vh;
    background-color: rgb(0, 255, 200);
    border-radius: 10%;
    padding: 20px;
    box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #0bca34, 0 0 30px #0bca34,
    0 0 40px #0bca24, 0 0 50px #0bca34;
    -webkit-animation: blink 0.7s infinite alternate;
    animation: blink 0.7s infinite alternate;
}
h2{
    text-decoration: underline;
    font-weight: 500;
}
button{
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: red;
    color: black;
    font-size: 22px;
    font-weight: 600;
}