body{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgb(7, 5, 15);
    align-items: center;
}
canvas{
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #0ba9ca, 0 0 30px #0ba9ca,
    0 0 40px #0ba9ca, 0 0 50px #0ba9ca;
    -webkit-animation: blink 0.7s infinite alternate;
    animation: blink 0.7s infinite alternate;
}